/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================

        wget  http://ftp.ebi.ac.uk/pub/databases/msd/pdb_aa.fasta
        cat pdb_aa.fasta.1 |\
            awk -v RS='>\\s*' -v ORS= '{sub(/;.*/,"\n>")} 1' |\
            sed 's/>PDB:/PDB:/g' |\
            sed 's/^PDB:/\>PDB:/g' |\
            sed 's/\(^PRE_PDB:\)/\>pre_PDB:/g' > clean_pdb.fasta

        outdir='/home/chase/Documents/socialgene_data/pdb'

        nextflow run . \
            -profile pdb,conda,slurm \
            --single_outdir $outdir \
            --fasta_splits 80 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true
    max_cpus   = 80
    max_memory = 400.GB
    max_time   = 6000.h

    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/home/chase/clean_pdb.fasta'

/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = false
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    paired_omics    = false

}

process {

    withName:HMMER_HMMSEARCH {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3    * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h * task.attempt, 'time'   ) }
    }
     withName:DIAMOND_BLASTP {
        ext.args = "-k0 --max-hsps 1 --block-size 6 --fast"
    }
}
