/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    https://doi.org/10.1186%2Fgb-2006-7-1-r8

    Use as follows:
        genome_url=https://scop.mrc-lmb.cam.ac.uk/files/scop_fa_represeq_lib_latest.fa
        curl -s $genome_url > /tmp/scop_fa_represeq_lib_latest.fa

        outdir='/home/chase/Documents/socialgene_data/scop_fa_represeq_lib_latest'

        nextflow run . \
            -profile scop,conda \
            --outdir $outdir \
            --fasta_splits 24 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h

    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/tmp/scop_fa_represeq_lib_latest.fa'

/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = false
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    paired_omics    = false

}

process {
 withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
    memory = { check_max( 3    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }
  withName:DIAMOND_BLASTP {
        cpus = 24
        ext.args = "-k0 --max-hsps 1 --block-size 6 --fast"
    }
}

