/*
    Use as follows:
        // The curl command downloads MIBiG BGC0000001 from Genbank
        curl -s "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=JF752342.1&rettype=gbwithparts&retmode=text" | gzip > "/tmp/JF752342.1.gb.gz"




            outdir='/home/chase/Documents/socialgene_data/m2'
            outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

            nextflow run . \
                -profile input_examples,docker \
                --outdir $outdir \
                --outdir_download_cache $outdir_download_cache \
                -resume


----------------------------------------------------------------------------------------
*/

params {
        // Use the downloaded BGC0000001 as input
        local_genbank = '/home/chase/Downloads/micro/**/*.gz'
        genbank_input_buffer = 12

    /*
    ////////////////////////
    set which modules to run+
    ////////////////////////
    */
        antismash       = true
        mibig           = false
        mmseqs_steps    = '90'
        blastp          = false // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        hmmlist         = "amrfinder"
        goterms         = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '100.GB'
        max_time                    = 6000.h

}


process {

    withName:'DIAMOND_BLASTP'{
        ext.args = "-k0 --max-hsps 1 --query-cover 70 --subject-cover 70 --id 95 --block-size 6 --fast"
    }
        withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        ext.args = '--single-step-clustering 1'
        ext.args2 = '--min-seq-id 0.5 -c 0.7 --cov-mode 0'
    }
}
