/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/refseq_trials'

        nextflow run . \
            --single_outdir $outdir \
            -profile refseq_complete_step_1,conda \
            -resume


----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Streptomyces'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    refseq_complete_step_1 = true
    max_cpus   = 24
    max_memory = '62 GB'
    max_time   = 6000.h
    hmm_splits = 1
    hmmlist = ["pfam", "tigrfam","amrfinder","resfams", "antismash"]
    refseq_nr_protein_fasta_glob    = '**/*.protein.faa.gz'
    crabhash_path    = '/home/chase/Documents/github/kwan_lab/crabhash/target/release'

   // refseq_nr_protein_fasta_dir =  "${params.single_outdir}/refseq_nr_protein_fasta_dir"


}


