/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/media/bigdrive2/chase/socialgene/2022_07_13/refseq_test'

        nextflow run . \
            --single_outdir $outdir \
            -profile refseq_complete_step_1,conda,slurm \
            --chtc_results_dir '/media/bigdrive2/chase/socialgene/2022_07_13/results' \
            -resume


cp /media/bigdrive2/chase/socialgene/2022_07_13/id_description.tsv.gz /media/bigdrive2/chase/socialgene/2022_07_13/refseq_test/socialgene_neo4j/import/id_description.tsv.gz







----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Streptomyces'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    refseq_complete_step_1 = true
    max_cpus   = 80
    max_memory = 900.GB
    max_time   = 6000.h
    hmm_splits = 1
    hmmlist = ["pfam", "tigrfam","amrfinder","resfams", "antismash"]
    refseq_nr_protein_fasta_glob    = '**/*.protein.faa.gz'
    crabhash_path    = '/media/bigdrive2/chase/socialgene/2022_07_13/crabhash/target/release'

   // refseq_nr_protein_fasta_dir =  "${params.single_outdir}/refseq_nr_protein_fasta_dir"


}


process {
    withName:FASTA_FILES_FOR_CHTC {
        storeDir = '/media/bigdrive2/chase/socialgene/2022_07_13/refseq_test/refseq_nr_protein_fasta_dir/crabhash/fasta_for_chtc'
        ext.args = '-s 50000'
    }
    withName:DOWNLOAD_ALL_REFSEQ_GENOME_FEATURETABLES {
        storeDir = '/media/bigdrive2/chase/socialgene/2022_07_13/results/DOWNLOAD_ALL_REFSEQ_GENOME_FEATURETABLES'
    }
    withName:PARSE_REFSEQ_ID_DESCRIPTIONS {
        storeDir = '/media/bigdrive2/chase/socialgene/2022_07_13/results/PARSE_REFSEQ_ID_DESCRIPTIONS'
    }
    withName:MMSEQS2 {
        storeDir = '/media/bigdrive2/chase/socialgene/2022_07_13/results/PARSE_REFSEQ_ID_DESCRIPTIONS'
        cpus   = { check_max( 40    * task.attempt, 'cpus'    ) }
        memory = { check_max( 300    * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h * task.attempt, 'time'    ) }
    }
    withName:DIAMOND_MAKEDB {
        storeDir = '/media/bigdrive2/chase/socialgene/2022_07_13/results/DIAMOND_MAKEDB'
        cpus   = { check_max( 40    * task.attempt, 'cpus'    ) }
        memory = { check_max( 300    * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h * task.attempt, 'time'    ) }
    }
     withName: 'CRABHASH' {
        publishDir = [
            // Save output files to a folder named after the Nextflow process
            path: { "${params.outdir_neo4j}/import/mainfilesthing" },
            mode: 'copy',
        ]
    }
    withName:HMMSEARCH_PARSE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 6    * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h * task.attempt, 'time'    ) }
    }
    withName:NEO4J_ADMIN_IMPORT {
        cpus   = { check_max( 40    * task.attempt, 'cpus'    ) }
        memory = { check_max( 200    * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h * task.attempt, 'time'    ) }
    }
    
}
