/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    https://mibig.secondarymetabolites.org/repository/BGC0000054/BGC0000054.gbk

    Use as follows:

        curl https://mibig.secondarymetabolites.org/repository/BGC0000054/BGC0000054.1.region001.gbk > /tmp/BGC0000054.gbk

        outdir='/home/chase/Documents/socialgene_data/BGC0000054'

        nextflow run . \
            -profile BGC0000054,conda \
            --single_outdir $outdir \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 4.GB
    max_time   = 6000.h
    builddb = true
    hmmlist = 'antismash'
    gbk_input                   = "/tmp/BGC0000054.gbk"
    sequence_files_glob         = '*.gbk'
    fasta_splits                = 12



/*
set which modules to run
*/
    hmms            = true
    ncbi_taxonomy   = true
    mmseqs2         = false
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}


process {

 withName:HMMER_HMMSEARCH {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
