/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================

    Use as follows:

        curl https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz > /tmp/uniprot_sprot.fasta.gz

        outdir='/home/chase/Documents/socialgene_data/uniprot_sprot'

        nextflow run . \
            -profile BGC0000054,conda \
            --single_outdir $outdir \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    build_database = true
    hmmlist = ["all"]
    local_genbank                   = "/tmp/uniprot_sprot.fasta.gz"
    sequence_files_glob         = '*.fasta.gz'
    fasta_splits                = 24



/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    paired_omics    = false

}


process {

 withName:HMMER_HMMSEARCH {
        cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
        memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
