/*
========================================================================================
    Nextflow minimal test
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/buchnera'


        nextflow run . \
            -profile buchnera,conda \
            --single_outdir $outdir \
            --fasta_splits 20 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Micromonospora'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    ncbi_datasets_command      = 'genome accession "GCA_000005845.2"'
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    build_database = true
    hmmlist = ['amrfinder','antismash']

/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    paired_omics    = false

}

process {
 withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
    memory = { check_max( 3    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }

}
