/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================

    Use as follows:

 ./bin/test.py --sg_outdir $outdir --verbose --url https://gist.githubusercontent.com/chasemc/540ba908e617535bdadcd0a3ea9f5ab4/raw/89c726296c05ca7f15b279c768b75cf8b65f4a08/a.json

 /home/chase/Documents/github/kwan_lab/socialgene/sgnf/bin/test_generate_data.py --sg_outdir $outdir --outpath /home/chase/Downloads/tt/a.json


        outdir=$(mktemp -d)
        outdir_download_cache=$outdir/outdir_download_cache
        mkdir -p $outdir/socialgene_per_run

        nextflow run . \
            -profile test_full,docker \
            --outdir $outdir \
            -resume \
            --outdir_download_cache /home/chase/Documents/socialgene_data/cache

        ./bin/test.py --sg_outdir $outdir

        rm -r $outdir
----------------------------------------------------------------------------------------
*/

params {

    ncbi_genome_download_command = '-s refseq --assembly-accessions GCF_000005845.2,GCF_007821455.1,GCF_012570145.1 bacteria'

    sort_fasta = true
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */

        mmseqs2         = true
        blastp          = true
        hmmlist         = ["antismash"] //,"amrfinder","bigslice","classiphage","pfam","prism","resfams","tigrfam"] // ["antismash","amrfinder","pfam","resfams","tigrfam"] // these are the most reliable / smallest (other than pfam)
        ncbi_taxonomy   = true
        antismash       = true
        build_database  = false
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 23
        max_cpus                    = 23
        max_memory                  = '10 GB'
        max_time                    = 1.h
}


process {

    withName:DIAMOND_BLASTP {
        cpus = 24
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 90  --fast"
    }

    withName:'MMSEQS2_EASYCLUSTER'{
       ext.args = '--min-seq-id 0.9 -c 0.9 --cov-mode 0'
    }

}
