/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    https://mibig.secondarymetabolites.org/repository/BGC0001848/BGC0001848.gbk

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/prioritized_test'

        nextflow run . \
            -profile prioritized,conda \
            --single_outdir $outdir \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h

    build_database = true
    hmmlist                     = ["antismash","amrfinder","bigslice","pfam","prism","resfams","tigrfam"]
    local_genbank               = '/home/chase/Downloads/bro/ncbi_dataset/data/**/genomic.gbff'
    sequence_files_glob         = '**/*.gbff'
    fasta_splits = 24


/*
set which modules to run
*/
    hmmer           = true
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}


process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 2    * task.attempt, 'memory'  ) }
       time   = { check_max( 60.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        ext.args = "-k0 --max-hsps 1 --id 30 --query-cover 90 --subject-cover 90 --block-size 6 --fast"
    }
}
