/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.tracedir}" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName:'HMMER_HMMSEARCH'{
       ext.args = ""
    }

    withName:'DIAMOND_BLASTP'{
       ext.args = "-k0 --max-hsps 1 --query-cover 80 --subject-cover 80 --id 70 --block-size 6 --fast"
    }

    withName:'MMSEQS2_EASYCLUSTER'{
       // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
       ext.args = '--single-step-clustering 1'
       ext.args2 = '--min-seq-id 0.8 -c 0.7 --cov-mode 0'
    }

    withName:'MMSEQS2_CREATEDB'{
       ext.args = ''
    }



    withName: 'NCBI_DATASETS_DOWNLOAD' {
       ext.args = '--include gbff'
    }

    withName: 'NCBI_GENOME_DOWNLOAD' {
        ext.args = "${params.ncbi_genome_download_command}"
    }

    withName:'ANTISMASH'{
        ext.args = "--skip-zip-file --allow-long-headers --skip-sanitisation --minimal --enable-genefunctions --enable-lanthipeptides --enable-lassopeptides --enable-nrps-pks --enable-sactipeptides --enable-t2pks --enable-thiopeptides --enable-tta"
    }

    withName:'SEQKIT_SPLIT'{
        ext.args = {"-p $params.fasta_splits"}
        // to standardize file by approximate number of amino acids you cna use `-l`; e.g.:
        // ext.args = '-l 50000000'

    }


    /*
    ========================================================================================
    NEO4J IMPORT FILES
    ========================================================================================
    */


    withName: 'NEO4J_HEADERS|TAXDUMP_PROCESS|HMM_TSV_PARSE' {
        publishDir = [
                path: { "${params.outdir_neo4j}/import/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: 'copy',
        ]
    }

    withName: 'DEDUPLICATE_GENOMIC_INFO' {
        publishDir = [
            [
                path: { "${params.outdir_neo4j}/import/genomic_info" },
                mode: 'copy',
                pattern: '*locus_to_protein.gz'
            ],
            [
                path: { "${params.outdir_neo4j}/import/genomic_info" },
                mode: 'copy',
                pattern: '*assembly_to_locus.gz'
            ],
            [
                path: { "${params.outdir_neo4j}/import/genomic_info" },
                mode: 'copy',
                pattern: '*assembly_to_taxid.gz'
            ],
            [
                path: { "${params.outdir_neo4j}/import/genomic_info" },
                mode: 'copy',
                pattern: '*loci.gz'
            ],
            [
                path: { "${params.outdir_neo4j}/import/genomic_info" },
                mode: 'copy',
                pattern: '*assemblies.gz'
            ]
        ]
    }

withName: 'DEDUPLICATE_PROTEIN_INFO' {
        publishDir = [
            [
                path: { "${params.outdir_neo4j}/import/protein_info" },
                mode: 'copy',
                pattern: '*protein_info.gz'
            ],
            [
                path: { "${params.outdir_neo4j}/import/protein_info" },
                mode: 'copy',
                pattern: '*protein_ids.gz'
            ]

        ]
    }


















//    withName: 'PROCESS_GENBANK_FILES' {
//        publishDir = [
//                path: { "${params.outdir_neo4j}" },
//            mode: 'copy',
//            overwrite: false
//        ]
//    }


    withName: 'NEO4J_HEADERS|TAXDUMP_PROCESS|HMM_TSV_PARSE' {
        publishDir = [
                path: { "${params.outdir_neo4j}/import/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: 'copy',
        ]
    }

    withName: 'DIAMOND_BLASTP|MMSEQS2_EASYCLUSTER' {
        publishDir = [
                path: { "${params.outdir_neo4j}/import/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: 'copy',
        ]
    }

    withName: 'HMM_HASH' {
        publishDir =
        [
            [
                path: { "${params.outdir_neo4j}/import/hmm_info" },
                mode: 'copy',
                pattern: '*hmminfo'
            ],
            [
                path: { "${params.outdir_neo4j}/import/hmm_info" },
                mode: 'copy',
                pattern: '*sg_hmm_nodes'
            ],
            [
                path: { "${params.outdir_per_run}/hmm_cache" },
                mode: 'copy',
                pattern: 'socialgene_nr_hmms_file_*'
            ]
        ]

    }

    withName:'TIGRFAM_INFO_DOWNLOAD|TIGRFAM_ROLES|TIGRFAM_TO_GO|TIGRFAM_TO_ROLE'{
        publishDir = [
            path: { "${params.outdir_neo4j}/import/tigrfam_info" },
            mode: 'copy',
        ]
    }
    withName:'PARAMETER_EXPORT_FOR_NEO4J'{
        ext.args = "${params.ncbi_genome_download_command}"
        publishDir = [
            path: { "${params.outdir_neo4j}/import/parameters" },
            mode: 'copy',
        ]
    }

    withName: 'CRABHASH' {
        publishDir = [
            path: {"${params.outdir_neo4j}/import/protein_info"},
            mode: 'copy',
            overwrite: false,
            pattern: "*.protein_info.gz"

        ]
    }

    withName: 'DOWNLOAD_CHEMBL_DATA' {
        publishDir = [
            path: {"${params.outdir_neo4j}/import/chembl"},
            mode: 'copy',
            overwrite: false
        ]
    }
    /*
    ========================================================================================
    CACHE FILES
    ========================================================================================
    */


   // BLAST outputs
    withName: 'DIAMOND_MAKEDB' {
        storeDir = {"${params.outdir_blast_cache}"}
    }


    // HMM outputs
    withName: 'DOWNLOAD_HMM_DATABASE' {
        storeDir = {"${params.outdir_download_cache}/${database.toLowerCase()}"}
    }

    // MISC Downloads
    withName: 'TIGRFAM_INFO_DOWNLOAD|TAXDUMP_DOWNLOAD' {
        storeDir = {"${params.outdir_download_cache}/${task.process.tokenize(':')[-1].toLowerCase()}"}
    }

    withName: 'MIBIG_DOWNLOAD|DOWNLOAD_CHEMBL_DATA' {
        storeDir = {"${params.outdir_download_cache}/${task.process.tokenize(':')[-1].toLowerCase()}"}

    }
    withName: 'NCBI_GENOME_DOWNLOAD|NCBI_DATASETS_DOWNLOAD' {
        storeDir = {"${params.outdir_per_run}/${task.process.tokenize(':')[-1].toLowerCase()}"}

    }

    withName: 'HTCONDOR_PREP' {
        storeDir = {"${params.htcondor_directory}"}
    }

    withName: 'DEDUPLICATE_AND_INDEX_FASTA' {
        publishDir = [
            path: { "${params.outdir_per_run}/nonredundant_fasta" },
            mode: 'copy',
        ]
    }

    withName: 'NEO4J_ADMIN_IMPORT' {
        publishDir = [
            path: {"${params.outdir_neo4j}"},
            mode: 'copy',
        ]
    }

    withName: 'NEO4J_ADMIN_IMPORT_DRYRUN' {
        publishDir = [
            path: {"${params.outdir_neo4j}"},
            mode: 'copy',
        ]
    }

    withName:'ANTISMASH'{
          publishDir = [
            path:{"${params.outdir_per_run}/antismash_results"},
            mode: 'copy',
            pattern: "*.tgz"
        ]
       }

    withName: 'ANTISMASH_GBK_TO_TABLE' {
        publishDir = [
            path: { "${params.outdir_neo4j}/import" },
            mode: 'copy',
        ]
    }

    withName: 'INDEX_FASTA' {
        publishDir = [
            path: { "${params.outdir_per_run}/nonredundant_fasta" },
            mode: 'copy',
        ]
    }



    withName:'MERGE_DOMTBLOUT'{
      publishDir = [
            path: { "${params.outdir_per_run}/hmmsearch" },
            mode: 'copy',
        ]
    }

    withName:'MERGE_PARSED_DOMTBLOUT'{
        publishDir = [
            path: { "${params.outdir_neo4j}/import/parsed_domtblout" },
            mode: 'copy',
        ]
    }

}


  /*
    // NCBI assembly feature tables
    withName: 'FEATURE_TABLE_DOWNLOAD' {
        storeDir = {"${params.outdir_download_cache}/${task.process.tokenize(':')[-1].toLowerCase()}"}
    }
    withName: 'DOWNLOAD_REFSEQ_NONREDUNDANT_COMPLETE' {
        storeDir = {"${params.refseq_nr_protein_fasta_dir}"}
    }

    */
