/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.tracedir}" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName:'HMMER_HMMSEARCH'{
        ext.args = ""
    }

    withName:'DIAMOND_BLASTP'{
        // default values based on https://doi.org/10.1038/s41598-022-21731-1
        ext.args = "-k0 --max-hsps 1 --query-cover 70 --subject-cover 70 --id 80 --block-size 6 --fast"
    }

    withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        // ext.arg is passed to `mmseqs cluster`
        // mmseqs cluster \$temp clu_\${i}/clu_\${i} tmp --threads ${task.cpus}  --min-seq-id 0\${transformed_id} $args --remove-tmp-files --compressed 1
        // -c 0.8 --cov-mode 0 --cluster-mode 2
        ext.args = '-c 0.8 --cov-mode 0 --cluster-mode 2'
    }

    withName:'MMSEQS2_CREATEDB'{
        ext.args = ''
    }

    withName: 'NCBI_DATASETS_DOWNLOAD' {
        ext.args = '--include gbff'
    }

    withName: 'NCBI_GENOME_DOWNLOAD' {
        ext.args = "${params.ncbi_genome_download_command}"
    }

    withName:'ANTISMASH'{
        ext.args = "--skip-zip-file --allow-long-headers --skip-sanitisation --minimal --enable-genefunctions --enable-lanthipeptides --enable-lassopeptides --enable-nrps-pks --enable-sactipeptides --enable-t2pks --enable-thiopeptides --enable-tta"
    }

    withName:'SEQKIT_SPLIT'{
        ext.args = {"-p $params.fasta_splits"}
        // to standardize file by approximate number of amino acids you cna use `-l`; e.g.:
        // ext.args = '-l 50000000'

    }


    withName:'PARAMETER_EXPORT_FOR_NEO4J'{
        ext.args = "${params.ncbi_genome_download_command}"
    }
}
