/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/actinomycetia'
        outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

        nextflow run . \
            -profile actinomycetia,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --htcondor \
            -resume



----------------------------------------------------------------------------------------
*/

params {
    ncbi_genome_download_command = '--taxids 201174 bacteria --parallel 8'

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = ["antismash","amrfinder","pfam","prism","resfams","tigrfam"]
        mmseqs2         = true
        blastp          = true
        ncbi_taxonomy   = true
        build_database  = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 1000
        max_cpus                    = 24
        max_memory                  = '60.GB'
        max_time                    = 60000.h

}

process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 8    * task.attempt, 'memory'  ) }
       time   = { check_max( 60000.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        cpus = 20
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 30 --block-size 6 --fast"
    }
    withName:SEQKIT_SPLIT {
        cpus   = { check_max( 5    * task.attempt, 'cpus'    ) }
        memory = { check_max( 200.GB    * task.attempt, 'memory'  ) }
        time   = { check_max( 60000.h * task.attempt, 'time'   ) }
    }
}
