/*
Use as follows:
  outdir='/home/chase/Documents/socialgene_data/micromonospora_test'

  nextflow run . \
    -profile micromonospora,conda \
    --single_outdir $outdir \
    --fasta_splits 1 \
    -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Micromonospora'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    ncbi_genome_download_command = '--assembly-levels complete,chromosome,scaffold,contig bacteria --section genbank --genera "Micromonospora sp. 15K316" --parallel 8'
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    builddb = true
    hmmlist = 'all'

/*
set which modules to run
*/
    hmms            = true
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}

process {
 withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
    memory = { check_max( 3    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }
}
