/*
Use as follows:
  outdir='/home/chase/Documents/socialgene_data/micromonospora_complete'

  nextflow run . \
    -profile micromonospora,conda \
    --single_outdir $outdir \
    --fasta_splits 24 \
    -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Micromonospora'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    //ncbi_datasets_command = 'genome taxon "micromonospora"'
    ncbi_genome_download_command = '--assembly-levels complete,chromosome,scaffold,contig bacteria --section genbank --genera "micromonospora" --parallel 8'
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    build_database = true
    hmmlist = ["antismash","amrfinder","pfam","resfams","tigrfam"]
    mibig = true

/*
set which modules to run
*/
    hmmer           = true
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}

process {
 withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
    memory = { check_max( 2    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }

}
