/*
Use as follows:
  outdir='/home/chase/Documents/socialgene_data/micromonospora'

  nextflow run . \
    -profile micromonospora,docker \
    --outdir $outdir \
    --fasta_splits 24 \
    -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name          = 'Annotate all RefSeq Micromonospora'
    config_profile_description   = 'Minimal test dataset to check pipeline function'
    enable_conda                 = true // leave this as true
    ncbi_genome_download_command = 'bacteria --section refseq --genera "micromonospora" --parallel 8'

    build_database               = true

    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mmseqs2         = false
        blastp          = true // only set to true for small datasets
        hmmlist         = false
        ncbi_taxonomy   = true
        antismash       = false
        mibig           = true
    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipelie on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '60.GB'
        max_time                    = 6000.h

}

process {

    withName:DIAMOND_BLASTP {
        cpus = 24
        ext.args = "-k0 --max-hsps 1 --query-cover 70 --subject-cover 70 --id 80 -b 6 --fast"
    }

}
