/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/streptomyces_allhmms'

        nextflow run . \
            -profile streptomyces,conda \
            --single_outdir $outdir \
            --fasta_splits 2000 \
            -resume


----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all RefSeq Streptomyces'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    ncbi_datasets = true
    ncbi_datasets_taxon = "streptomyces"
    max_cpus   = 24
    max_memory = '62 GB'
    max_time   = 6000.h

    builddb = true
    hmmlist = 'all'


/*
set which modules to run
*/
    hmms            = true
    ncbi_taxonomy   = false
    mmseqs2         = false
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}


process {

 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = '5.GB'
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
