/*
Use as follows:
    outdir='/home/chase/Documents/socialgene_data/sc'
    outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

  nextflow run . \
    -profile streptomyces_coelicolor,docker \
    --outdir $outdir \
    --outdir_download_cache $outdir_download_cache \
    -resume

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name          = 'Annotate all RefSeq Streptomyces coelicolor '
    config_profile_description   = 'Minimal test dataset to check pipeline function'
//    ncbi_genome_download_command = 'bacteria --section genbank --genera "Streptomyces coelicolor " --parallel 8'
local_genbank='/home/chase/Downloads/genome_assemblies_genome_gb/ncbi-genomes-2023-01-17/*.gz'
    build_database               = true

    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mmseqs2         = true
        blastp          = true // only set to true for small datasets
        hmmlist         = ["antismash","amrfinder","pfam","resfams","tigrfam"]
        ncbi_taxonomy   = true
        antismash       = true
        mibig           = false
    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipelie on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 200
        max_cpus                    = 24
        max_memory                  = '60.GB'
        max_time                    = 6000.h

}

process {

    withName:DIAMOND_BLASTP {
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 30 --block-size 6 --fast"
    }

    withName:'ANTISMASH'{
        ext.args   = "--skip-zip-file --allow-long-headers --skip-sanitisation --minimal --enable-genefunctions --enable-lanthipeptides --enable-lassopeptides --enable-nrps-pks --enable-sactipeptides --enable-t2pks --enable-thiopeptides --enable-tta"
        ext.args2   = "--hmmdetection-strictness 'loose'"
    }

}

