/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        outdir='/media/socialgene_nvme/actinomycetota'
        outdir_download_cache='/tmp/socialgene_data/cache'

        nextflow run . \
            -profile actinomycetota,docker,slurm \
            --ncbi_datasets_command 'genome taxon "actinomycetota" --assembly-source refseq --exclude-atypical' \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --fasta_splits 1000 \
            --genbank_input_buffer 750 \
            --include_sequences \
            --htcondor \
            -resume

    # The second parses the HTCONDOR results and then all other computation (e.g. BLASTp, MMseqs2)
        nextflow run . \
            -profile streptomyces,docker,slurm \
            --genbank_input_buffer 1250 \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --fasta_splits 1000 \
            --include_sequences \
            --domtblout_path '/media/box3/chase/actinomycetota/htcondor_cache/results/*.domtblout.gz' \
            -resume

----------------------------------------------------------------------------------------
*/

params {
    include_sequences = true
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
        mmseqs_steps    = '90,70,50,30'
        ncbi_taxonomy   = true
        build_database  = true
        antismash       = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        max_cpus                    = 96
        max_memory                  = '900.GB'
        max_time                    = 480.h
        slurm_queue_size            = 40

}

process {
    withLabel:process_single {
        cpus   = { check_max( 1                    , 'cpus'    ) }
        memory = { check_max( 5.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 10.h  * task.attempt  , 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 40.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 20     * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 80.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 40    * task.attempt, 'cpus'    ) }
        memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 24.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withName:HMMER_HMMSEARCH {
        cpus   = { check_max (2     * task.attempt, 'cpus'   ) }
        memory = { check_max (2.GB * task.attempt, 'memory' ) }
        time   = { check_max (24.h  * task.attempt, 'time'   ) }
    }
    withName:ANTISMASH {
        cpus   = 2
        memory = { check_max (5.GB * task.attempt, 'memory' ) }
        time   = { check_max (24.h  * task.attempt, 'time'   ) }
                ext.args = "--no-abort-on-invalid-records --genefinding-tool none --skip-zip-file --allow-long-headers --skip-sanitisation --minimal --enable-genefunctions --enable-lanthipeptides --enable-lassopeptides --enable-nrps-pks --enable-sactipeptides --enable-t2pks --enable-thiopeptides --enable-tta"
    }
    withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        ext.args2 = '-c 0.7 --cov-mode 0'
    }
}
