/*
Use as follows:
    outdir='/home/chase/Desktop/new_business/calculated_data/results/refseq_bgcs/nextflow'
    outdir_download_cache='/home/chase/Desktop/new_business/calculated_data/results/refseq_bgcs/nextflow/cache'

    nextflow run . \
    -profile micromonospora,docker \
    --outdir $outdir \
    --outdir_download_cache $outdir_download_cache \
    -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name          = 'Annotate all RefSeq Micromonospora'
    config_profile_description   = 'Minimal test dataset to check pipeline function'
    local_faa="/home/chase/Documents/data/chembl/33/*"
    local_genbank='/home/chase/Documents/socialgene_data/v0_4_1/refseq_antismash_bgcs/refseq_antismash_regions_gbk/*.gbk.gz'

    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mibig           = true
        ncbi_taxonomy   = true
        build_database  = true
        goterms         = true
        antismash       = false
       // hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
        mmseqs_steps    = '90,70,50,30'
    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipeline on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 24
        max_cpus                    = 16
        max_memory                  = '90.GB'
        max_time                    = 48.h

}

process {




    withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        ext.args2 = '-c 0.7 --cov-mode 0'
    }
}
