/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/mibig_antismash'

        nextflow run . \
            -profile mibig,conda \
            --single_outdir $outdir \
            --fasta_splits 24 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h

    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/home/chase/Documents/data/mibig_gbk_2.0/*'
    sequence_files_glob         = '*.gbk'

/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = false
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    paired_omics    = false

}

process {

 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }

 withName:DIAMOND_BLASTP {
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 90 --block-size 6 --fast"
    }
}
