/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/mibig_antismash'

        nextflow run . \
            -profile mibig,conda \
            --single_outdir $outdir \
            --fasta_splits 30 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    mode = 'dev'
    builddb = true
    hmmlist = 'antismash'
    gbk_input                   = '/home/chase/Documents/data/mibig_gbk_2.0.tar.gz'
    sequence_files_glob         = '*.tar.gz'

/*
set which modules to run
*/
    hmms            = true
    ncbi_taxonomy   = false
    mmseqs2         = false
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}

process {

 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
