/*
    Use as follows:

        outdir='/media/BRIANDATA2/chase/v0_4_0/refseq'
        outdir_download_cache='/media/BRIANDATA2/chase/v0_4_0/cache'
        workdir='/media/socialgene_nvme/work'
        export NXF_TEMP='/media/socialgene_nvme/sgnf/tmp'
        mkdir -p /media/socialgene_nvme/sgnf/tmp
       
    # Run in two steps, the first creates all the files needed for running on HTCONDOR
        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --genbank_input_buffer 8000 \
            --include_sequences \
            --domtblout_with_ga '/home/chase/v0_3_8/refseq/htcondor_cache/results/socialgene_nr_hmms_file_with_cutoffs*' \
            --domtblout_without_ga '/home/chase/v0_3_8/refseq/htcondor_cache/results/socialgene_nr_hmms_file_without_cutoffs*' \
            --fasta_splits 3000 \
            -w $workdir \
            --publish_dir_mode 'copy' \
            -resume

    # The second parses the HTCONDOR results and then all other computation (e.g. BLASTp, MMseqs2)
        domtblout_path='/tmp/temp/*.domtblout.gz'

        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --domtblout_path $domtblout_path \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {

    local_genbank='/media/bigdrive2/chase/ncbi/genomes/**/*.gbff.gz'

    config_profile_name         = 'RefSeq'
    config_profile_description  = 'All RefSeq genomes'
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
       mibig           = true
       hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
       mmseqs_steps    = '90,70,50,30'
       ncbi_taxonomy   = true
       build_database  = true
       goterms         = true
        antismash       = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        max_cpus                    = 96
        max_memory                  = '920.GB'
        max_time                    = 2000.h
        slurm_queue_size            = 48
}

process {
    withName:HMMSEARCH_PARSE {
        cpus   = { check_max (1     * task.attempt, 'cpus'   ) }
        memory = { check_max (100.GB * task.attempt, 'memory' ) }
        time   = { check_max (48.h  * task.attempt, 'time'   ) }
    }
    withName:PROCESS_GENBANK_FILES {
        cpus   = { check_max (1     * task.attempt, 'cpus'   ) }
        memory = { check_max (20.GB * task.attempt, 'memory' ) }
        time   = { check_max (48.h  * task.attempt, 'time'   ) }
    }
    withLabel:process_single {
        cpus   = { check_max( 1                    , 'cpus'    ) }
        memory = { check_max( 5.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 10.h  * task.attempt  , 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 40.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 20     * task.attempt, 'cpus'    ) }
        memory = { check_max( 40.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 80.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 80    * task.attempt, 'cpus'    ) }
        memory = { check_max( 100.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 480.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 72.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 800.GB * task.attempt, 'memory' ) }
    }

    withName:ANTISMASH {
        cpus   = 2
        memory = { check_max (10.GB * task.attempt, 'memory' ) }
        time   = { check_max (24.h  * task.attempt, 'time'   ) }
                ext.args = "--no-abort-on-invalid-records --genefinding-tool none --skip-zip-file --allow-long-headers --skip-sanitisation"

    }
    withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        ext.args = '-c 0.7 --cov-mode 0 --split 1'
    }
}
