/*
    Use as follows:

        outdir='/tmp/testrefseq'
        outdir_download_cache='/tmp/testrefseq/cache'
        workdir='/tmp/refseq_sgnf/work'
        gbk_files='/path/to/files'

    # Run in two steps, the first creates all the files needed for running on HTCONDOR
        nextflow run . \
            -profile refseq,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --gbk_files $gbk_files \
            --genbank_input_buffer 3333 \
            -resume

    # The second parses the HTCONDOR results and then all other computation (e.g. BLASTp, MMseqs2)
        domtblout_path='/tmp/temp/*.domtblout.gz'

        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --domtblout_path $domtblout_path \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Ultra-Quickstart run'
    config_profile_description  = 'Minimal test dataset to demo pipeline function'
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = false
        blastp          = false
        ncbi_taxonomy   = false
        build_database  = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        max_cpus                    = 40
        max_memory                  = '100 GB'
        max_time                    = 48.h

}

process {
    // Split nr.fasta into fasta files containing less than 50000000 amino acids each
    withName:'SEQKIT_SPLIT'{
        ext.args = '-l 50000000'
    }
}
