/*
    Use as follows:

        outdir='/tmp/testrefseq'
        outdir_download_cache='/tmp/testrefseq/cache'
        workdir='/tmp/refseq_sgnf/work'

    # Run in two steps, the first creates all the files needed for running on HTCONDOR
        nextflow run . \
            -profile refseq,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --genbank_input_buffer 3333 \
            -resume

             \
            -w $workdir

    # The second parses the HTCONDOR results and then all other computation (e.g. BLASTp, MMseqs2)
        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --domtblout_path '/tmp/temp/*.domtblout.gz' \
            --outdir_download_cache $outdir_download_cache \
            -resume \
            -w $workdir


mv /tmp/untarreddomtblout /tmp/socialgene_refseq_2022_03_02/htcondor_cache/untarreddomtblout
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Ultra-Quickstart run'
    config_profile_description  = 'Minimal test dataset to demo pipeline function'
    local_fasta                 = '/tmp/socialgene_v0_1_5/refseq/socialgene_per_run/nonredundant_fasta/nr.faa.gz'
    fasta_splits                = 1
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = false
        blastp          = false
        ncbi_taxonomy   = false
        build_database  = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        max_cpus                    = 90
        max_memory                  = '920 GB'
        max_time                    = 6000.h

}

process {
    withName:'SEQKIT_SPLIT'{
        ext.args = '-l 50000000'
    }
}
