/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    https://mibig.secondarymetabolites.org/repository/BGC0001848/BGC0001848.gbk

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/diazaquinomycin_story/new_full_results_gbk/1850_results'

        nextflow run . \
            -profile diazaquinomycin_story,conda \
            --outdir $outdir \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h

    build_database = true
    hmmlist                     = ["antismash","amrfinder","bigslice","pfam","prism","resfams","tigrfam"]
    local_genbank                   = '/home/chase/Documents/socialgene_data/diazaquinomycin_story/new_full_results_gbk/1850_results/gbk'
    fasta_splits = 22


/*
set which modules to run
*/

    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = true // only set to true for small datasets or if you know what you're doing
    paired_omics    = false

}


process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 2    * task.attempt, 'memory'  ) }
       time   = { check_max( 60.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        ext.args = "-k0 --max-hsps 1 --id 50 --query-cover 90 --subject-cover 90 --block-size 6 --fast"
    }
}
