/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    https://mibig.secondarymetabolites.org/repository/BGC0001848/BGC0001848.gbk

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/diazaquinomycin'

        nextflow run . \
            -profile diazaquinomycin,conda \
            --single_outdir $outdir \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h

    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/home/chase/Downloads/BGC0001848.gbk'
    fasta_splits = 20


/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = false
    mmseqs2         = false
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}

process {

 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
