/*
https://www.cell.com/cell-chemical-biology/pdfExtended/S2451-9456(16)30433-0
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/lagriamide_mibig'

        nextflow run . \
            -profile lagriamide,conda \
            --single_outdir $outdir \
            --fasta_splits 20 \
            -resume


----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Annotate all Paraburkholderia acidicola (only one)'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/home/chase/Documents/data/lagriamide/'

/*
set which modules to run
*/
    hmmer            = true
    ncbi_taxonomy   = false
    mmseqs2         = false
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}


process {
 withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
    memory = { check_max( 3    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }
}
