/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/mibig_genomes'

        nextflow run . \
            -profile mibig_genomes,conda \
            --outdir $outdir \
            --fasta_splits 100 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_cpus   = 24
    max_memory = 60.GB
    max_time   = 6000.h

    build_database = true
    hmmlist = 'all'
    local_genbank                   = '/home/chase/Documents/data/mibig_and_genomes/*'

/*
set which modules to run
*/
    hmmer            = false
    ncbi_taxonomy   = true
    mmseqs2         = true
    blastp          = false // only set to true for small datasets or if you know what you're doing
    paired_omics    = false

}

process {

withName:HMMER_HMMSEARCH {
    cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
    memory = { check_max( 3    * task.attempt, 'memory'  ) }
    time   = { check_max( 60.h * task.attempt, 'time'   ) }
 }

 withName:DIAMOND_BLASTP {
        cpus = 40
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 90 --block-size 6 --fast"
    }
}
