/*
    Use as follows:

        outdir='/tmp/socialgene_data/mibig_genomes'
        outdir_download_cache='/tmp/socialgene_data/cache'

        nextflow run . \
            -profile mibig_genomes,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {

    local_genbank = '/tmp/data/mibig/3_1/mibig_genomes/*.gz'

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = 'antismash,amrfinder,pfam,prism,resfams,tigrfam'
        mmseqs_steps    = '90 70 50 30'
        blastp          = false // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        antismash       = true
        goterms         = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '120.GB'
        max_time                    = 24.h

}
