/*
    Use as follows:

        outdir='/tmp/socialgene_data/mibig_genomes'
        outdir_download_cache='/tmp/socialgene_data/cache'
        local_genbank='/home/chase/Documents/data/mibig/3_1/mibig_genomes/*.gz'
        nextflow run . \
            -profile mibig_genomes,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --local_genbank $local_genbank \
            -resume

----------------------------------------------------------------------------------------
*/

params {


    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = false
        hmmlist         = false
        mmseqs_steps    = '90'
        blastp          = false // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        antismash       = false
        goterms         = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '120.GB'
        max_time                    = 24.h

}
