/*
    Use as follows:

        outdir='/tmp/socialgene_data/mibig'
        outdir_download_cache='/tmp/socialgene_data/cache'

        nextflow run . \
            -profile mibig,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
        mmseqs_steps    = '90 70 50 30'
        blastp          = true // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        goterms         = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '100.GB'
        max_time                    = 24.h

}

