/*
    // data is from here: ftp://ftp.ebi.ac.uk/pub/databases/reference_proteomes/previous_releases/qfo_release-2020_04_with_updated_UP000008143/QfO_release_2020_04_with_updated_UP000008143.tar.gz

    outdir='/home/chase/Documents/socialgene_data/qfo'
    outdir_download_cache='/tmp/socialgene_data/cache'

    nextflow run . \
        -profile orthologs,docker \
        --outdir $outdir \
        --outdir_download_cache $outdir_download_cache \
        --local_fasta '/home/chase/Downloads/QfO_release_2020_04_with_updated_UP000008143/fasta/*' \
        --defline_magic true \
        --include_sequences \
        --fasta_splits 24 \
        --htcondor \
        -resume


----------------------------------------------------------------------------------------
*/

params {

    /*
    ////////////////////////
    set which modules to run+
    ////////////////////////
    */
        antismash       = true
        mibig           = false
        mmseqs_steps    = '90,70,50,30'
        blastp          = false // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = false
        build_database  = true
        hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
        goterms         = true

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '40.GB'
        max_time                    = 48.h

}


process {
       withName:'SEQKIT_SPLIT'{
        ext.args = '-p 250'
    }
}
