/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/socialgene_data/cog'

        nextflow run . \
            -profile cog,conda \
            --single_outdir $outdir \
            --fasta_splits 75 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true
    max_cpus   = 80
    max_memory = 600.GB
    max_time   = 6000.h
    queueSize  = 80

    build_database = true
    hmmlist =  ["antismash","amrfinder","bigslice","classiphage","pfam","resfams","tigrfam"]
    local_fasta                   = '/home/chase/cog-20.fa.gz'

/*
set which modules to run
*/
    hmmer           = true
    ncbi_taxonomy   = false
    mmseqs2         = true
    blastp          = false // only set to true for small datasets
    paired_omics    = false

}

process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 3    * task.attempt, 'memory'  ) }
       time   = { check_max( 6000.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        cpus = 40
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 30 --block-size 6 --fast"
    }
}

