/*
========================================================================================
    Nextflow config file for running the example pipeline
========================================================================================
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Example'
    config_profile_description = 'Minimal example'
    enable_conda = true // leave this as true
    modules.NCBI_GENOME_DOWNLOAD.args = "--genera 'Micromonospora sp. B006' bacteria"
    max_cpus   = 2
    max_memory = 4.GB
    max_time   = 1.h
    mode = 'dev'
    builddb = true
    blastp = false // only set to true for small datasets
    mmseqs2 = true

}
