/*
    Use as follows:

       curl -s https://data.gtdb.ecogenomic.org/releases/latest/bac120_metadata.tar.gz |\
            tar -xzvf - --to-stdout |\
            awk -F "\t" '$16=="t"' |\
            cut -f55 | head > /tmp/62291_gtdb_genome_accessions.txt



        outdir='/home/chase/Documents/socialgene_data/gtdb'

        nextflow run . \
            -profile gtdb,conda \
            --single_outdir $outdir \
            -resume

        rm /tmp/62291_gtdb_genome_accessions.txt

----------------------------------------------------------------------------------------
*/

params {

        ncbi_datasets_command = 'genome accession'
        ncbi_datasets_file = '/tmp/62291_gtdb_genome_accessions.txt'

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = false
        hmmlist         = false //["antismash","amrfinder","bigslice","classiphage","pfam","prism","resfams","tigrfam"]
        mmseqs2         = true
        blastp          = false // only set to true for small datasets
        ncbi_taxonomy   = true
        build_database  = false
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '62.GB'
        max_time                    = 6000.h

}

process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 2    * task.attempt, 'memory'  ) }
       time   = { check_max( 60.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        cpus = 24
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 30 --block-size 6 --fast"
    }
}
