/*
    Use as follows:

       curl -s https://data.gtdb.ecogenomic.org/releases/latest/bac120_metadata.tar.gz |\
            tar -xzvf - --to-stdout |\
            awk -F "\t" '$16=="t"' |\
            cut -f55 |\
            grep -E "GCF_|GCA_" > /tmp/62291_gtdb_genome_accessions.txt
            
        outdir='/media/bigdrive2/chase/socialgene/2022_09_21_gtdb'
        
        nextflow run . \
            -profile gtdb,conda  \
            --queueSize 80 \
            --single_outdir $outdir \
            -w /media/bigdrive2/chase/socialgene/temp \
            -resume

        rm /tmp/62291_gtdb_genome_accessions.txt

----------------------------------------------------------------------------------------
*/

params {

        ncbi_datasets_command = 'genome accession'
        ncbi_datasets_file = '/tmp/62291_gtdb_genome_accessions.txt'

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = false // ["antismash","amrfinder","pfam","prism","resfams","tigrfam"]
        mmseqs2         = true
        blastp          = true
        ncbi_taxonomy   = true
        build_database  = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 1000
        max_cpus                    = 80
        max_memory                  = '600.GB'
        max_time                    = 60000.h

}

process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 8    * task.attempt, 'memory'  ) }
       time   = { check_max( 60000.h * task.attempt, 'time'   ) }
    }
    withName:DIAMOND_BLASTP {
        cpus = 20
        ext.args = "-k0 --max-hsps 1 --query-cover 90 --subject-cover 90 --id 30 --block-size 6 --fast"
    }
    withName:SEQKIT_SPLIT {
        cpus   = { check_max( 5    * task.attempt, 'cpus'    ) }
        memory = { check_max( 200.GB    * task.attempt, 'memory'  ) }
        time   = { check_max( 60000.h * task.attempt, 'time'   ) }
    }
}
