/*
    Use as follows:
        // The curl command downloads MIBiG BGC0000001 from Genbank
        curl -s "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=JF752342.1&rettype=gbwithparts&retmode=text" | gzip > "/tmp/JF752342.1.gb.gz"




        outdir='/home/chase/Documents/socialgene_data/ref'

        nextflow run . \
            -profile input_examples,docker \
            --outdir $outdir \
            -resume

----------------------------------------------------------------------------------------
*/

params {
        // Use the downloaded BGC0000001 as input
       local_genbank = '/home/chase/Downloads/ncbi_dataset/ncbi_dataset/data/**.gbff'


    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        antismash       = false
        mibig           = false
        mmseqs2         = true
        blastp          = false // only set to true for small datasets
        ncbi_taxonomy   = false
        build_database  = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '62.GB'
        max_time                    = 6000.h

}

