/*
    Use as follows:
        // The curl command downloads MIBiG BGC0000001 from Genbank
        curl -s "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=JF752342.1&rettype=gbwithparts&retmode=text" | gzip > "/tmp/JF752342.1.gb.gz"




        outdir='/home/chase/Documents/socialgene_data/antiref'
        outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

        nextflow run . \
            -profile input_examples,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {
        // Use the downloaded BGC0000001 as input
       local_genbank = '/home/chase/Documents/data/refseq_antismash/just_regions_gbk/*.gz'
       genbank_input_buffer =8500

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        antismash       = false
        mibig           = false
        mmseqs2         = false
        blastp          = false // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        hmmlist         = []

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 23
        max_cpus                    = 23
        max_memory                  = '62.GB'
        max_time                    = 6000.h

}

