/*
    Use as follows:

        genome_dir='/home/chase/Downloads/mandelalides/input_data'
        mkdir -p genome_dir
        wget --directory-prefix $genome_dir \
            https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/020/809/425/GCA_020809425.1_ASM2080942v1/GCA_020809425.1_ASM2080942v1_genomic.gbff.gz \
            https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/002/591/725/GCA_002591725.1_ASM259172v1/GCA_002591725.1_ASM259172v1_genomic.gbff.gz


        # FASTA files were downloaded on 2023-2-13 from:
        # https://www.ebi.ac.uk/interpro/entry/InterPro/IPR002113/
        # https://www.ebi.ac.uk/interpro/entry/InterPro/IPR004667/


       outdir='/home/chase/Downloads/mandelalides/sg20'
       outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

        nextflow run . \
            -profile mandelalides,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume

----------------------------------------------------------------------------------------
*/

params {
        // Use the downloaded BGC0000001 as input
       local_genbank = '/home/chase/Downloads/mandelalides/genomes/*.gz'
       local_fasta =   "/home/chase/Downloads/mandelalides/SNARE_motifs__10.1016_j.cub.2020.04.060.faa"
      // local_fasta = '/home/chase/Downloads/mandelalides/sg3/uniprot-compressed_true_download_true_format_fasta_query__28ec_3A7_1-2023.02.17-21.16.02.90.fasta.gz'



    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        antismash       = true
        mibig           = false
        mmseqs2         = false
        blastp          = true // only set to true for small datasets or if you know what you're doing
        ncbi_taxonomy   = true
        build_database  = true
        hmmlist         = false//["pfam", "tigrfam"]

    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '62.GB'
        max_time                    = 6000.h

}

process {

    withName:'DIAMOND_BLASTP'{
       ext.args = "-k0 --max-hsps 1 --query-cover 60 --subject-cover 60 --id 25 --block-size 6 --fast"
    }

    withName:'MMSEQS2_CLUSTER'{
       // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
       storeDir = {"${params.outdir_mmseqs2_cache}"}
       ext.args = '--single-step-clustering 1'
       ext.args2 = '--min-seq-id 0.3 -c 0.6 --cov-mode 0'
    }

}
