/*
    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/mibig_only'
        outdir_download_cache='/home/chase/Documents/socialgene_data/cache'


        nextflow run . \
            -profile mibig,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume \
            -w /home/chase/sgnf/work2

        nextflow run . \
            -profile mibig,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --domtblout_path '/home/chase/Documents/socialgene_data/mibig_3_1/htcondor_results/chtc_results/*.domtblout.gz' \
            -resume
----------------------------------------------------------------------------------------
*/

params {

  //  local_genbank = '/home/chase/Documents/data/mibig/3_1/mibig_and_genomes/*.gz'

    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = ["all"]
        mmseqs2         = true
        blastp          = true // only set to true for small datasets
        ncbi_taxonomy   = true
        build_database  = true
        antismash       = false
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 100
        hmm_splits                  = 10
        max_cpus                    = 80
        max_memory                  = '620.GB'
        max_time                    = 24.h

}

process {
    withName:'DIAMOND_BLASTP'{
        ext.args = '-k0 --max-hsps 1 --query-cover 70 --subject-cover 70 --id 80 --no-self-hits -b4 --fast'
    }
    withName:'MMSEQS2_EASYCLUSTER'{
        ext.args = '--min-seq-id 0.8 -c 0.7 --cov-mode 0'
    }
}

