/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        outdir='/home/chase/Documents/socialgene_data/297c364c-b154-4edd-a7d5-68decf9effa2'

        nextflow run . \
            -profile paired_omics,conda \
            --single_outdir $outdir \
            --fasta_splits 20 \
            -resume


    fasta_splits = 0 // Due to evaluation order, fasta_splits has to be in the command, not in the config param "0" means no splits (ie 1 sequence)

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Simple run'
    config_profile_description  = 'Minimal test dataset to check pipeline function'
    enable_conda                = true // leave this as true
    max_cpus                    = 24
    max_memory                  = 62.GB
    max_time                    = 6000.h
    mode                        = 'dev'

    local_genbank                   = '/home/chase/Documents/data/paired_datarecord_297c364c-b154-4edd-a7d5-68decf9effa2_4/genomes/prodigal_out/*.gbk'
    sequence_files_glob         = '*.gbk'
    paired_omics_json_path      = '/home/chase/Documents/data/paired_datarecord_297c364c-b154-4edd-a7d5-68decf9effa2_4/paired_datarecord_297c364c-b154-4edd-a7d5-68decf9effa2.4.json'
    build_database                     = true
    mmseqs2                     = true
    paired_omics                = true
}

process {

 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
