/*
    Use as follows:

        outdir='/media/bigdrive2/chase/socialgene_refseq_2022_03_02'
        outdir_download_cache='/home/chase/sgbig/cache'

    # Run in two steps, the first creates all the files needed for running on HTCONDOR
        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --htcondor \
            -resume \
            -w /media/bigdrive2/chase/temp2022-3-3/work

    # The second parses the HTCONDOR results and then all other computation (e.g. BLASTp, MMseqs2)
        nextflow run . \
            -profile refseq,docker,slurm \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            --domtblout_path '/home/chase/untarreddomtblout/*.domtblout.gz' \
            -resume \
            -w /media/bigdrive2/chase/temp2022-3-3/work


mv /home/chase/untarreddomtblout /media/bigdrive2/chase/socialgene_refseq_2022_03_02/htcondor_cache/untarreddomtblout
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Ultra-Quickstart run'
    config_profile_description  = 'Minimal test dataset to demo pipeline function'
    local_genbank               = '/media/bigdrive2/chase/ncbi/genomes/all/GCF/**/*.gbff.gz'
    fasta_splits                = 2
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        mibig           = true
        hmmlist         = ["antismash","amrfinder","pfam","resfams","tigrfam"]
        mmseqs2         = false
        blastp          = false
        ncbi_taxonomy   = true
        build_database  = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        max_cpus                    = 60
        max_memory                  = '900.GB'
        max_time                    = 6000.h
        
}

process {
    withName:'SEQKIT_SPLIT'{
        ext.args = '-l 50000000'
    }
}
