/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/GCF02318'

        nextflow run . \
            -profile simple_custom_input,conda \
            --single_outdir $outdir \
            -resume

            GCF_001905625.1_ASM190562v1_genomic.gbff.gz

    fasta_splits = 0 // Due to evaluation order, fasta_splits has to be in the command, not in the config param "0" means no splits (ie 1 sequence)

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Simple run'
    config_profile_description  = 'Minimal test dataset to check pipeline function'
    enable_conda                = true // leave this as true
    max_cpus                    = 24
    max_memory                  = 62.GB
    max_time                    = 6000.h
    mode                        = 'dev'
    build_database                     = true
    blastp                      = true // only set to true for small datasets
    mmseqs2                     = true
    hmmer                        = true
    local_genbank                   = '/home/chase/Documents/data/BIGSLICE_SATRIA/for_chase_all_gcfs_and_bgcs/for_chase-GCF02318-present_in_266_of_1120_genomes/*.gbk'
    sequence_files_glob         = '*.gbk'
}

process {

 withName:PYHMMER {
        cpus   = { check_max( 24    * task.attempt, 'cpus'    ) }
        memory = { check_max( 3 * task.attempt, 'memory'  ) }
        time   = { check_max( 60.h  * task.attempt, 'time'    ) }
    }
}
