/*
    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/tempy'

        nextflow run . \
            -profile simple_custom_input,conda \
            --single_outdir $outdir \
            -resume

----------------------------------------------------------------------------------------
*/

params {
        config_profile_name         = 'Ultra-Quickstart run'
        config_profile_description  = 'Minimal test dataset to demo pipeline function'
        enable_conda                = true // leave this as true
        build_database              = true
        paired_omics                = false
        hmmlist                     = ["antismash"]
        local_genbank               = "/home/chase/Downloads/temp/*.gz"
        sequence_files_glob         = '*.gz'
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        hmmer           = true
        mmseqs2         = true
        blastp          = true // only set to true for small datasets
        ncbi_taxonomy   = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 23
        max_cpus                    = 23
        max_memory                  = '62.GB'
        max_time                    = 6000.h

}

process {
    withName:HMMER_HMMSEARCH {
       cpus   = { check_max( 1    * task.attempt, 'cpus'    ) }
       memory = { check_max( 2    * task.attempt, 'memory'  ) }
       time   = { check_max( 60.h * task.attempt, 'time'   ) }
    }
}
