/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/test'

        nextflow run . \
            -profile simple_run,conda \
            --single_outdir $outdir \
            --fasta_splits 12 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
        config_profile_name         = 'Simple run'
        config_profile_description  = 'Minimal test dataset to check pipeline function'
        enable_conda                = true // leave this as true
        ncbi_datasets_taxon         = "Micromonospora sp. NBRC 110037"
        build_database                     = true
        paired_omics                = false
        hmmlist                     = "all"
    /*
    ////////////////////////
    set which modules to run
    ////////////////////////
    */
        hmmer            = true
        mmseqs2         = true
        blastp          = true // only set to true for small datasets
        ncbi_taxonomy   = true
    /*
    ////////////////////////
    adjust per your computer
    ////////////////////////
    */
        fasta_splits                = 12
        max_cpus                    = 24
        max_memory                  = 62.GB
        max_time                    = 6000.h


}

