/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/test'

        nextflow run nextflow \
            -profile simple_run,conda \
            --single_outdir $outdir \
            --fasta_splits 12 \
            -resume
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Simple run'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    enable_conda = true // leave this as true
    ncbi_datasets_taxon = "Micromonospora sp. NBRC 110037"
    max_cpus   = 24
    max_memory = 62.GB
    max_time   = 6000.h
    mode = 'dev'
    builddb = true
    paired_omics    = false
/*
set which modules to run
*/
    hmms            = true
    mmseqs2         = true
    blastp          = true // only set to true for small datasets
    ncbi_taxonomy   = true
}

process {
 withName:PYHMMER {
        cpus   = { check_max( 2    * task.attempt, 'cpus'    ) }
        memory = { check_max( 2 * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h  * task.attempt, 'time'    ) }
    }
}
