/*
    Use as follows:

        outdir='/home/chase/sgnf/ultraquickstarttempmmseqs'
        outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

        nextflow run . \
            -profile simple_run,docker \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume



----------------------------------------------------------------------------------------
*/

params {
        config_profile_name         = 'Ultra-Quickstart run'
        config_profile_description  = 'Minimal test dataset to demo pipeline function'
        //ncbi_datasets_command     = 'genome accession "GCA_004187715.1,GCA_003408515.1"'
        ncbi_genome_download_command = '-s genbank --assembly-accessions GCA_000062885.1,GCA_001723645.1 bacteria'

        mibig                       = false
        build_database              = false
    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mmseqs2         = true
        blastp          = false // only set to true for small datasets
        hmmlist         = false
        ncbi_taxonomy   = false
        antismash       = false
    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipelie on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '60.GB'
        max_time                    = 6000.h

}

