/*
----------------------------------------------------------------------------------------
Use as follows:

    #rm -rf /tmp/socialgene_data/ultraquickstart
    rm -rf /tmp/socialgene_data/cache
    rm -rf work


    outdir='/home/chase/Downloads/socialgene_data/ultraquickstart2'

    nextflow run . \
        -profile ultraquickstart,docker \
        --outdir $outdir \
        --outdir_download_cache $outdir_download_cache \
        --htcondor 
        
        

----------------------------------------------------------------------------------------
*/

params {
        config_profile_name         = 'Ultra-Quickstart run'
        config_profile_description  = 'Minimal test dataset to demo pipeline function'
        local_genbank='/home/chase/Downloads/ncbi_antismash_2024/for_nf/**/*gbk.gz'
        genbank_input_buffer = 10000
    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mibig           = true
        blastp          = false // only set to true for small datasets or if you know what you're doing or if you know what you're doing
        hmmlist         = 'antismash,amrfinder,pfam,resfams,tigrfam'
        ncbi_taxonomy   = false
        antismash       = false
        build_database  = true
        mmseqs_steps    = '90,70,50,30'

    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipeline on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 1000
        max_cpus                    = 23
        max_memory                  = '120.GB'
        max_time                    = 30000.h

}

process {

    withName:'MMSEQS2_CLUSTER'{
        // https://github.com/soedinglab/mmseqs2/wiki#how-to-set-the-right-alignment-coverage-to-cluster
        ext.args = '-c 0.7 --cov-mode 0'
    }


}
