/*
    Use as follows:

        outdir='/home/chase/Documents/socialgene_data/az'
        outdir_download_cache='/home/chase/Documents/socialgene_data/cache'

        nextflow run . \
            -profile ultraquickstart,docker \
            --genbank_input_buffer 1 \
            --outdir $outdir \
            --outdir_download_cache $outdir_download_cache \
            -resume \
            --email 'chasec288@gmail.com'






----------------------------------------------------------------------------------------
*/

params {
        config_profile_name         = 'Ultra-Quickstart run'
        config_profile_description  = 'Minimal test dataset to demo pipeline function'
        ncbi_genome_download_command = '-s refseq --assembly-accessions GCF_000008865.2,GCF_000005845.2 bacteria'
    /*
    ///////////////////////////////////
    Set which additional modules to run
    ///////////////////////////////////
    */
        mmseqs2         = true
        blastp          = true // only set to true for small datasets or if you know what you're doing or if you know what you're doing
        hmmlist         = ["amrfinder"]
        ncbi_taxonomy   = true
        antismash       = true
        build_database  = true


    /*
    ////////////////////////
    Adjust per your computer
    ////////////////////////
    */
        // If running the pipeline on a single computer, fasta_splits should be set at the same
        // number as max_cpus. For very large input data you might
        // want to set fasta_splits to a higher number to allow checkpointing. Howevever, setting
        // fasta_splits too high will result in diminishing returns due to overhead and possibly
        // too-few proteins per file (would probably keep <1000 for any size of dataset)
        fasta_splits                = 24
        max_cpus                    = 24
        max_memory                  = '60.GB'
        max_time                    = 6000.h

}


process {

    withName:'DIAMOND_BLASTP'{
        ext.args = "-k0 --max-hsps 1 --query-cover 70 --subject-cover 70 --block-size 6 --ultra-sensitive"
    }



}
